version: "3.9"

services:
  postgres_db:
    image: postgres:17
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  user_app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: user_app
    environment:
      DATABASE_URL: postgresql://postgres:mysecretpassword@postgres_db:5432/postgres
    ports:
      - "3000:3000"
    depends_on:
      - postgres_db

volumes:
  postgres_data:
